Contact syncing not working on Mac OS

Contacts appear on console when using `-D` but not in the Contacts.app

Possibly related to #54 #65 

Could maybe also be #66. I hope I can finally fix #66 in the next few days which will hopefully fix this whole array of issues. Extremely annoying, I know, and I'm sorry. It's just that Radicale doesn't support vcard 4.0 and I therefore need to implement it myself.

I have the same problem. 

I can download the VCF from the local webserver but the contacts are not showing up in the Contacts app

Any interesting information when running etesync-dav with -D?

I cannot interpret if it is interesting, but here it is.
I (hopefully) removed all unique identifiers, since this is public:

`[111bd15c0] INFO: Starting Radicale
[111bd15c0] INFO: Authentication type is 'htpasswd'
[111bd15c0] INFO: Storage type is 'radicale_storage_etesync'
[111bd15c0] INFO: Rights type is 'radicale_storage_etesync.rights'
[111bd15c0] INFO: Web type is 'internal'
[111bd15c0] INFO: Listening to '1.0.0.127.in-addr.arpa' on port 37358 using SSL
[111bd15c0] INFO: Radicale server ready
[70000f01a000] INFO: PROPFIND request for '/[myaccount]/' with depth '0' received from 127.0.0.1 using 'Mac+OS+X/10.14.5 (18F132) CalendarAgent/416.5.1'
[70000f01a000] DEBUG: Request headers:
{'CONTENT_LENGTH': '743',
 'CONTENT_TYPE': 'text/xml',
 'GATEWAY_INTERFACE': 'CGI/1.1',
 'HTTP_ACCEPT': '*/*',
 'HTTP_ACCEPT_ENCODING': 'br, gzip, deflate',
 'HTTP_ACCEPT_LANGUAGE': 'de-de',
 'HTTP_BRIEF': 't',
 'HTTP_CONNECTION': 'keep-alive',
 'HTTP_DEPTH': '0',
 'HTTP_HOST': 'localhost:37358',
 'HTTP_PREFER': 'return=minimal',
 'HTTP_USER_AGENT': 'Mac+OS+X/10.14.5 (18F132) CalendarAgent/416.5.1',
 'PATH_INFO': '/[myaccount]/',
 'QUERY_STRING': '',
 'REMOTE_ADDR': '127.0.0.1',
 'REMOTE_CERTIFICATE': None,
 'REMOTE_HOST': '',
 'REQUEST_METHOD': 'PROPFIND',
 'SCRIPT_NAME': '',
 'SERVER_NAME': '1.0.0.127.in-addr.arpa',
 'SERVER_PORT': '37358',
 'SERVER_PROTOCOL': 'HTTP/1.1',
 'SERVER_SOFTWARE': 'WSGIServer/0.2',
 'wsgi.errors': <_io.StringIO object at 0x10e9c0ee8>,
 'wsgi.file_wrapper': <class 'wsgiref.util.FileWrapper'>,
 'wsgi.input': <_io.BufferedReader name=8>,
 'wsgi.multiprocess': False,
 'wsgi.multithread': True,
 'wsgi.run_once': False,
 'wsgi.url_scheme': 'http',
 'wsgi.version': (1, 0)}
[70000f01a000] DEBUG: Sanitized script name: ''
[70000f01a000] DEBUG: Sanitized path: '/[myaccount]/'
[70000f01a000] INFO: Access to '/[myaccount]/' denied for anonymous user
[70000f01a000] DEBUG: Asking client for authentication
[70000f01a000] DEBUG: Response content:
Access to the requested resource forbidden.
[70000f01a000] INFO: PROPFIND response status for '/[myaccount]/' with depth '0' in 0.002 seconds: 401 Unauthorized
[70000f01a000] INFO: PROPFIND request for '/[myaccount]/' with depth '0' received from 127.0.0.1 using 'Mac+OS+X/10.14.5 (18F132) CalendarAgent/416.5.1'
[70000f01a000] DEBUG: Request headers:
{'CONTENT_LENGTH': '743',
 'CONTENT_TYPE': 'text/xml',
 'GATEWAY_INTERFACE': 'CGI/1.1',
 'HTTP_ACCEPT': '*/*',
 'HTTP_ACCEPT_ENCODING': 'br, gzip, deflate',
 'HTTP_ACCEPT_LANGUAGE': 'de-de',
 'HTTP_AUTHORIZATION': 'Basic **masked**',
 'HTTP_BRIEF': 't',
 'HTTP_CONNECTION': 'keep-alive',
 'HTTP_DEPTH': '0',
 'HTTP_HOST': 'localhost:37358',
 'HTTP_PREFER': 'return=minimal',
 'HTTP_USER_AGENT': 'Mac+OS+X/10.14.5 (18F132) CalendarAgent/416.5.1',
 'PATH_INFO': '/[myaccount]/',
 'QUERY_STRING': '',
 'REMOTE_ADDR': '127.0.0.1',
 'REMOTE_CERTIFICATE': None,
 'REMOTE_HOST': '',
 'REQUEST_METHOD': 'PROPFIND',
 'SCRIPT_NAME': '',
 'SERVER_NAME': '1.0.0.127.in-addr.arpa',
 'SERVER_PORT': '37358',
 'SERVER_PROTOCOL': 'HTTP/1.1',
 'SERVER_SOFTWARE': 'WSGIServer/0.2',
 'wsgi.errors': <_io.StringIO object at 0x10e9c0ee8>,
 'wsgi.file_wrapper': <class 'wsgiref.util.FileWrapper'>,
 'wsgi.input': <_io.BufferedReader name=8>,
 'wsgi.multiprocess': False,
 'wsgi.multithread': True,
 'wsgi.run_once': False,
 'wsgi.url_scheme': 'http',
 'wsgi.version': (1, 0)}
[70000f01a000] DEBUG: Sanitized script name: ''
[70000f01a000] DEBUG: Sanitized path: '/[myaccount]/'
[70000f01a000] INFO: Successful login: '[myaccount]'
[70000f01a000] DEBUG: Request content:
<?xml version="1.0"?>
<propfind xmlns="DAV:" xmlns:C="urn:ietf:params:xml:ns:caldav" xmlns:CS="http://calendarserver.org/ns/">
  <prop>
    <C:calendar-home-set />
    <C:calendar-user-address-set />
    <current-user-principal />
    <displayname />
    <CS:dropbox-home-URL />
    <CS:email-address-set />
    <CS:notification-URL />
    <principal-collection-set />
    <principal-URL />
    <resource-id />
    <C:schedule-inbox-URL />
    <C:schedule-outbox-URL />
    <supported-report-set />
  </prop>
</propfind>

[70000f01a000] DEBUG: '[myaccount]' has read and write access to collection '[myaccount]'
[70000f01a000] DEBUG: Response content:
<?xml version="1.0"?>
<multistatus xmlns="DAV:" xmlns:C="urn:ietf:params:xml:ns:caldav" xmlns:CS="http://calendarserver.org/ns/">
  <response>
    <href>/[myaccount]/</href>
    <propstat>
      <prop>
        <C:calendar-home-set>
          <href>/[myaccount]/</href>
        </C:calendar-home-set>
        <C:calendar-user-address-set>
          <href>/[myaccount]/</href>
        </C:calendar-user-address-set>
        <current-user-principal>
          <href>/[myaccount]/</href>
        </current-user-principal>
        <displayname />
        <CS:dropbox-home-URL />
        <CS:email-address-set />
        <CS:notification-URL />
        <principal-collection-set>
          <href>/</href>
        </principal-collection-set>
        <principal-URL>
          <href>/[myaccount]/</href>
        </principal-URL>
        <resource-id />
        <C:schedule-inbox-URL />
        <C:schedule-outbox-URL />
        <supported-report-set>
          <supported-report>
            <report>
              <expand-property />
            </report>
          </supported-report>
          <supported-report>
            <report>
              <principal-search-property-set />
            </report>
          </supported-report>
          <supported-report>
            <report>
              <principal-property-search />
            </report>
          </supported-report>
        </supported-report-set>
      </prop>
      <status>HTTP/1.1 200 OK</status>
    </propstat>
  </response>
</multistatus>

[70000f01a000] INFO: PROPFIND response status for '/[myaccount]/' with depth '0' in 0.994 seconds: 207 Multi-Status
[70000f01a000] INFO: OPTIONS request for '/[myaccount]/' received from 127.0.0.1 using 'Mac+OS+X/10.14.5 (18F132) CalendarAgent/416.5.1'
[70000f01a000] DEBUG: Request headers:
{'CONTENT_LENGTH': '0',
 'CONTENT_TYPE': 'text/plain',
 'GATEWAY_INTERFACE': 'CGI/1.1',
 'HTTP_ACCEPT': '*/*',
 'HTTP_ACCEPT_ENCODING': 'br, gzip, deflate',
 'HTTP_ACCEPT_LANGUAGE': 'de-de',
 'HTTP_AUTHORIZATION': 'Basic **masked**',
 'HTTP_CONNECTION': 'keep-alive',
 'HTTP_HOST': 'localhost:37358',
 'HTTP_USER_AGENT': 'Mac+OS+X/10.14.5 (18F132) CalendarAgent/416.5.1',
 'PATH_INFO': '/[myaccount]/',
 'QUERY_STRING': '',
 'REMOTE_ADDR': '127.0.0.1',
 'REMOTE_CERTIFICATE': None,
 'REMOTE_HOST': '',
 'REQUEST_METHOD': 'OPTIONS',
 'SCRIPT_NAME': '',
 'SERVER_NAME': '1.0.0.127.in-addr.arpa',
 'SERVER_PORT': '37358',
 'SERVER_PROTOCOL': 'HTTP/1.1',
 'SERVER_SOFTWARE': 'WSGIServer/0.2',
 'wsgi.errors': <_io.StringIO object at 0x10ea050d8>,
 'wsgi.file_wrapper': <class 'wsgiref.util.FileWrapper'>,
 'wsgi.input': <_io.BufferedReader name=8>,
 'wsgi.multiprocess': False,
 'wsgi.multithread': True,
 'wsgi.run_once': False,
 'wsgi.url_scheme': 'http',
 'wsgi.version': (1, 0)}
[70000f01a000] DEBUG: Sanitized script name: ''
[70000f01a000] DEBUG: Sanitized path: '/[myaccount]/'
[70000f01a000] INFO: Successful login: '[myaccount]'
[70000f01a000] INFO: OPTIONS response status for '/[myaccount]/' in 0.009 seconds: 200 OK
[70000f01a000] INFO: PROPFIND request for '/[myaccount]/' with depth '1' received from 127.0.0.1 using 'Mac+OS+X/10.14.5 (18F132) CalendarAgent/416.5.1'
[70000f01a000] DEBUG: Request headers:
{'CONTENT_LENGTH': '2217',
 'CONTENT_TYPE': 'text/xml',
 'GATEWAY_INTERFACE': 'CGI/1.1',
 'HTTP_ACCEPT': '*/*',
 'HTTP_ACCEPT_ENCODING': 'br, gzip, deflate',
 'HTTP_ACCEPT_LANGUAGE': 'de-de',
 'HTTP_AUTHORIZATION': 'Basic **masked**',
 'HTTP_BRIEF': 't',
 'HTTP_CONNECTION': 'keep-alive',
 'HTTP_DEPTH': '1',
 'HTTP_HOST': 'localhost:37358',
 'HTTP_PREFER': 'return=minimal',
 'HTTP_USER_AGENT': 'Mac+OS+X/10.14.5 (18F132) CalendarAgent/416.5.1',
 'PATH_INFO': '/[myaccount]/',
 'QUERY_STRING': '',
 'REMOTE_ADDR': '127.0.0.1',
 'REMOTE_CERTIFICATE': None,
 'REMOTE_HOST': '',
 'REQUEST_METHOD': 'PROPFIND',
 'SCRIPT_NAME': '',
 'SERVER_NAME': '1.0.0.127.in-addr.arpa',
 'SERVER_PORT': '37358',
 'SERVER_PROTOCOL': 'HTTP/1.1',
 'SERVER_SOFTWARE': 'WSGIServer/0.2',
 'wsgi.errors': <_io.StringIO object at 0x10e9f1e58>,
 'wsgi.file_wrapper': <class 'wsgiref.util.FileWrapper'>,
 'wsgi.input': <_io.BufferedReader name=8>,
 'wsgi.multiprocess': False,
 'wsgi.multithread': True,
 'wsgi.run_once': False,
 'wsgi.url_scheme': 'http',
 'wsgi.version': (1, 0)}
[70000f01a000] DEBUG: Sanitized script name: ''
[70000f01a000] DEBUG: Sanitized path: '/[myaccount]/'
[70000f01a000] INFO: Successful login: '[myaccount]'
[70000f01a000] DEBUG: Request content:
<?xml version="1.0"?>
<propfind xmlns="DAV:" xmlns:C="urn:ietf:params:xml:ns:caldav" xmlns:CS="http://calendarserver.org/ns/" xmlns:ICAL="http://apple.com/ns/ical/" xmlns:ME="http://me.com/_namespace/">
  <prop>
    <add-member />
    <CS:allowed-sharing-modes />
    <ICAL:autoprovisioned />
    <ME:bulk-requests />
    <C:calendar-alarm />
    <ICAL:calendar-color />
    <C:calendar-description />
    <C:calendar-free-busy-set />
    <ICAL:calendar-order />
    <C:calendar-timezone />
    <current-user-privilege-set />
    <C:default-alarm-vevent-date />
    <C:default-alarm-vevent-datetime />
    <displayname />
    <CS:getctag />
    <CS:invite />
    <ICAL:language-code />
    <ICAL:location-code />
    <owner />
    <CS:pre-publish-url />
    <CS:publish-url />
    <CS:push-transports />
    <CS:pushkey />
    <quota-available-bytes />
    <quota-used-bytes />
    <ICAL:refreshrate />
    <resource-id />
    <resourcetype />
    <C:schedule-calendar-transp />
    <C:schedule-default-calendar-URL />
    <CS:source />
    <CS:subscribed-strip-alarms />
    <CS:subscribed-strip-attachments />
    <CS:subscribed-strip-todos />
    <C:supported-calendar-component-set />
    <C:supported-calendar-component-sets />
    <supported-report-set />
    <sync-token />
  </prop>
</propfind>

[70000f01a000] DEBUG: '[myaccount]' has read and write access to collection '[myaccount]'
[70000f01a000] DEBUG: '[myaccount]' has read and write access to collection '[myaccount]/6d08c0cd1983fa57[*]521ea904717a07501ff2ce64'
[70000f01a000] DEBUG: '[myaccount]' has read and write access to collection '[myaccount]/36990afb9231e52e[*]69b3298df84ee4dc0a'
[70000f01a000] DEBUG: Response content:
<?xml version="1.0"?>
<multistatus xmlns="DAV:" xmlns:C="urn:ietf:params:xml:ns:caldav" xmlns:CR="urn:ietf:params:xml:ns:carddav" xmlns:CS="http://calendarserver.org/ns/" xmlns:ICAL="http://apple.com/ns/ical/" xmlns:ME="http://me.com/_namespace/">
  <response>
    <href>/[myaccount]/</href>
    <propstat>
      <prop>
        <add-member />
        <CS:allowed-sharing-modes />
        <ICAL:autoprovisioned />
        <ME:bulk-requests />
        <C:calendar-alarm />
        <ICAL:calendar-color />
        <C:calendar-description />
        <C:calendar-free-busy-set />
        <ICAL:calendar-order />
        <C:calendar-timezone />
        <current-user-privilege-set>
          <privilege>
            <read />
          </privilege>
          <privilege>
            <all />
          </privilege>
          <privilege>
            <write />
          </privilege>
          <privilege>
            <write-properties />
          </privilege>
          <privilege>
            <write-content />
          </privilege>
        </current-user-privilege-set>
        <C:default-alarm-vevent-date />
        <C:default-alarm-vevent-datetime />
        <displayname />
        <CS:invite />
        <ICAL:language-code />
        <ICAL:location-code />
        <owner>
          <href>/[myaccount]/</href>
        </owner>
        <CS:pre-publish-url />
        <CS:publish-url />
        <CS:push-transports />
        <CS:pushkey />
        <quota-available-bytes />
        <quota-used-bytes />
        <ICAL:refreshrate />
        <resource-id />
        <resourcetype>
          <principal />
          <collection />
        </resourcetype>
        <C:schedule-calendar-transp />
        <C:schedule-default-calendar-URL />
        <CS:source />
        <CS:subscribed-strip-alarms />
        <CS:subscribed-strip-attachments />
        <CS:subscribed-strip-todos />
        <C:supported-calendar-component-sets />
        <supported-report-set>
          <supported-report>
            <report>
              <expand-property />
            </report>
          </supported-report>
          <supported-report>
            <report>
              <principal-search-property-set />
            </report>
          </supported-report>
          <supported-report>
            <report>
              <principal-property-search />
            </report>
          </supported-report>
        </supported-report-set>
      </prop>
      <status>HTTP/1.1 200 OK</status>
    </propstat>
    <propstat>
      <prop>
        <CS:getctag />
        <C:supported-calendar-component-set />
        <sync-token />
      </prop>
      <status>HTTP/1.1 404 Not Found</status>
    </propstat>
  </response>
  <response>
    <href>/[myaccount]/6d08c0cd1983fa57[*]521ea904717a07501ff2ce64/</href>
    <propstat>
      <prop>
        <ICAL:calendar-color>#8bc34aff</ICAL:calendar-color>
        <current-user-privilege-set>
          <privilege>
            <read />
          </privilege>
          <privilege>
            <all />
          </privilege>
          <privilege>
            <write />
          </privilege>
          <privilege>
            <write-properties />
          </privilege>
          <privilege>
            <write-content />
          </privilege>
        </current-user-privilege-set>
        <displayname>Privat</displayname>
        <CS:getctag>6c2fcc6afba5f3b37b18bd99d7bd3ad1ab318aee17894594fd0bc43ed2655271</CS:getctag>
        <owner>
          <href>/[myaccount]/</href>
        </owner>
        <resourcetype>
          <C:calendar />
          <collection />
        </resourcetype>
        <C:supported-calendar-component-set>
          <C:comp name="VEVENT" />
        </C:supported-calendar-component-set>
        <supported-report-set>
          <supported-report>
            <report>
              <expand-property />
            </report>
          </supported-report>
          <supported-report>
            <report>
              <principal-search-property-set />
            </report>
          </supported-report>
          <supported-report>
            <report>
              <principal-property-search />
            </report>
          </supported-report>
          <supported-report>
            <report>
              <sync-collection />
            </report>
          </supported-report>
          <supported-report>
            <report>
              <C:calendar-multiget />
            </report>
          </supported-report>
          <supported-report>
            <report>
              <C:calendar-query />
            </report>
          </supported-report>
        </supported-report-set>
        <sync-token>http://radicale.org/ns/sync/6c2fcc6afba5f3b37b18bd99d7bd3ad1ab318aee17894594fd0bc43ed2655271</sync-token>
      </prop>
      <status>HTTP/1.1 200 OK</status>
    </propstat>
    <propstat>
      <prop>
        <add-member />
        <CS:allowed-sharing-modes />
        <ICAL:autoprovisioned />
        <ME:bulk-requests />
        <C:calendar-alarm />
        <C:calendar-description />
        <C:calendar-free-busy-set />
        <ICAL:calendar-order />
        <C:calendar-timezone />
        <C:default-alarm-vevent-date />
        <C:default-alarm-vevent-datetime />
        <CS:invite />
        <ICAL:language-code />
        <ICAL:location-code />
        <CS:pre-publish-url />
        <CS:publish-url />
        <CS:push-transports />
        <CS:pushkey />
        <quota-available-bytes />
        <quota-used-bytes />
        <ICAL:refreshrate />
        <resource-id />
        <C:schedule-calendar-transp />
        <C:schedule-default-calendar-URL />
        <CS:source />
        <CS:subscribed-strip-alarms />
        <CS:subscribed-strip-attachments />
        <CS:subscribed-strip-todos />
        <C:supported-calendar-component-sets />
      </prop>
      <status>HTTP/1.1 404 Not Found</status>
    </propstat>
  </response>
  <response>
    <href>/[myaccount]/36990afb9231e52e[*]69b3298df84ee4dc0a/</href>
    <propstat>
      <prop>
        <current-user-privilege-set>
          <privilege>
            <read />
          </privilege>
          <privilege>
            <all />
          </privilege>
          <privilege>
            <write />
          </privilege>
          <privilege>
            <write-properties />
          </privilege>
          <privilege>
            <write-content />
          </privilege>
        </current-user-privilege-set>
        <displayname>Privat</displayname>
        <CS:getctag>77dc7da60816514e03ee622a78ff02462299dc97e17170df6334d1948ba1d876</CS:getctag>
        <owner>
          <href>/[myaccount]/</href>
        </owner>
        <resourcetype>
          <CR:addressbook />
          <collection />
        </resourcetype>
        <C:supported-calendar-component-set>
          <C:comp name="VTODO" />
          <C:comp name="VEVENT" />
          <C:comp name="VJOURNAL" />
        </C:supported-calendar-component-set>
        <supported-report-set>
          <supported-report>
            <report>
              <expand-property />
            </report>
          </supported-report>
          <supported-report>
            <report>
              <principal-search-property-set />
            </report>
          </supported-report>
          <supported-report>
            <report>
              <principal-property-search />
            </report>
          </supported-report>
          <supported-report>
            <report>
              <sync-collection />
            </report>
          </supported-report>
          <supported-report>
            <report>
              <CR:addressbook-multiget />
            </report>
          </supported-report>
          <supported-report>
            <report>
              <CR:addressbook-query />
            </report>
          </supported-report>
        </supported-report-set>
        <sync-token>http://radicale.org/ns/sync/77dc7da60816514e03ee622a78ff02462299dc97e17170df6334d1948ba1d876</sync-token>
      </prop>
      <status>HTTP/1.1 200 OK</status>
    </propstat>
    <propstat>
      <prop>
        <add-member />
        <CS:allowed-sharing-modes />
        <ICAL:autoprovisioned />
        <ME:bulk-requests />
        <C:calendar-alarm />
        <ICAL:calendar-color />
        <C:calendar-description />
        <C:calendar-free-busy-set />
        <ICAL:calendar-order />
        <C:calendar-timezone />
        <C:default-alarm-vevent-date />
        <C:default-alarm-vevent-datetime />
        <CS:invite />
        <ICAL:language-code />
        <ICAL:location-code />
        <CS:pre-publish-url />
        <CS:publish-url />
        <CS:push-transports />
        <CS:pushkey />
        <quota-available-bytes />
        <quota-used-bytes />
        <ICAL:refreshrate />
        <resource-id />
        <C:schedule-calendar-transp />
        <C:schedule-default-calendar-URL />
        <CS:source />
        <CS:subscribed-strip-alarms />
        <CS:subscribed-strip-attachments />
        <CS:subscribed-strip-todos />
        <C:supported-calendar-component-sets />
      </prop>
      <status>HTTP/1.1 404 Not Found</status>
    </propstat>
  </response>
</multistatus>

[70000f01a000] INFO: PROPFIND response status for '/[myaccount]/' with depth '1' in 0.046 seconds: 207 Multi-Status
[70000f01a000] INFO: PROPPATCH request for '/[myaccount]/6d08c0cd1983fa57[*]521ea904717a07501ff2ce64/' received from 127.0.0.1 using 'Mac+OS+X/10.14.5 (18F132) CalendarAgent/416.5.1'
[70000f01a000] DEBUG: Request headers:
{'CONTENT_LENGTH': '198',
 'CONTENT_TYPE': 'text/xml',
 'GATEWAY_INTERFACE': 'CGI/1.1',
 'HTTP_ACCEPT': '*/*',
 'HTTP_ACCEPT_ENCODING': 'br, gzip, deflate',
 'HTTP_ACCEPT_LANGUAGE': 'de-de',
 'HTTP_AUTHORIZATION': 'Basic **masked**',
 'HTTP_CONNECTION': 'keep-alive',
 'HTTP_HOST': 'localhost:37358',
 'HTTP_USER_AGENT': 'Mac+OS+X/10.14.5 (18F132) CalendarAgent/416.5.1',
 'PATH_INFO': '/[myaccount]/6d08c0cd1983fa57[*]521ea904717a07501ff2ce64/',
 'QUERY_STRING': '',
 'REMOTE_ADDR': '127.0.0.1',
 'REMOTE_CERTIFICATE': None,
 'REMOTE_HOST': '',
 'REQUEST_METHOD': 'PROPPATCH',
 'SCRIPT_NAME': '',
 'SERVER_NAME': '1.0.0.127.in-addr.arpa',
 'SERVER_PORT': '37358',
 'SERVER_PROTOCOL': 'HTTP/1.1',
 'SERVER_SOFTWARE': 'WSGIServer/0.2',
 'wsgi.errors': <_io.StringIO object at 0x10e9c0ee8>,
 'wsgi.file_wrapper': <class 'wsgiref.util.FileWrapper'>,
 'wsgi.input': <_io.BufferedReader name=8>,
 'wsgi.multiprocess': False,
 'wsgi.multithread': True,
 'wsgi.run_once': False,
 'wsgi.url_scheme': 'http',
 'wsgi.version': (1, 0)}
[70000f01a000] DEBUG: Sanitized script name: ''
[70000f01a000] DEBUG: Sanitized path: '/[myaccount]/6d08c0cd1983fa57[*]521ea904717a07501ff2ce64/'
[70000f01a000] INFO: Successful login: '[myaccount]'
[70000f01a000] DEBUG: Request content:
<?xml version="1.0"?>
<propertyupdate xmlns="DAV:" xmlns:ICAL="http://apple.com/ns/ical/">
  <set>
    <prop>
      <ICAL:calendar-order>1</ICAL:calendar-order>
    </prop>
  </set>
</propertyupdate>

[70000f01a000] DEBUG: Response content:
<?xml version="1.0"?>
<multistatus xmlns="DAV:" xmlns:ICAL="http://apple.com/ns/ical/">
  <response>
    <href>/[myaccount]/6d08c0cd1983fa57[*]521ea904717a07501ff2ce64/</href>
    <propstat>
      <prop>
        <ICAL:calendar-order />
      </prop>
      <status>HTTP/1.1 200 OK</status>
    </propstat>
  </response>
</multistatus>

[70000f01a000] INFO: PROPPATCH response status for '/[myaccount]/6d08c0cd1983fa57[*]521ea904717a07501ff2ce64/' in 0.018 seconds: 207 Multi-Status

`

I don't see anything relevant there. It works for me though. :|
What version of etesync-dav are you using? MacOS version?

Hi @tasn 

When running with `-D` I can see my contacts printed on the terminal

```
$ mac-etesync-dav --version
EteSync DAV version:  0.6.0
Radicale Storage EteSync version:  0.8.0
Radicale version:  2.1.11
```

MacOS Mojave v10.14.5

I fixed #65 and a few other things which may be related. Could you please try again with v0.7.1?

I am trying to setup carddav with the latest version and I am getting "Unable to verify account name or password".

When I get the above `etesync-dav -D` prints nothing

Unable to verify account name at what stage?

Where are you getting the above though? In Contacts.app? So before anything is running?
So let's get again as many details as possible, first of all what do you get with `etesync-dav --version`?
Second, what are the exact settings you used in Contacts.app?
Does calendar work or you haven't tried?

It looks like it doesn't even reach etesync-dav, so the problem may be before. Have you correctly set up SSL as instructed in: https://github.com/etesync/etesync-dav/blob/master/README.md#macos-mojave ?

The issue turned out to be that etesync-dav was failing to load the correct configuration. Passing the configuration through command line fixes the above issue.

`etesync-dav -C ~/Library/Application\ Support/etesync-dav/radicale.conf`

Note that I am running `etesync-dav` from `/Applications/etesync-dav.app/Contents/MacOS`.

Despite allowing me to add the account I still can't see my contacts.
I use the following configuration:
<img width="411" alt="image" src="https://user-images.githubusercontent.com/1435395/61907221-b5d0d380-af35-11e9-86ff-985cebbf83e9.png">

For completeness and future reference I respond to your questions below.

> Unable to verify account name at what stage? 

This is in the `Internet Accounts -> New CardDav account` dialog.

> Where are you getting the above though? In Contacts.app? 

No, in the System Preferences when adding a new CardDav account

> What are you trying and what gives you the error?

I am trying to setup my MacOS to sync contacts with etesync.

> So before anything is running?

Not sure what the question is here

> So let's get again as many details as possible, first of all what do you get with etesync-dav --version?

```
$ ./etesync-dav --version
EteSync DAV version:  0.8.1
Radicale version:  2.1.11
```

> Second, what are the exact settings you used in Contacts.app?

<img width="406" alt="image" src="https://user-images.githubusercontent.com/1435395/61905827-b156eb80-af32-11e9-9b31-20e1e09796d5.png">

> Does calendar work or you haven't tried?

I didn't try, but removing the account and trying to add it again fails with the same message

> It looks like it doesn't even reach etesync-dav, so the problem may be before. Have you correctly set up SSL as instructed in: https://github.com/etesync/etesync-dav/blob/master/README.md#macos-mojave ?

Yes, that was done for the previous version.

You shouldn't be using the configuration file, etesync-dav has finally broken free from that. Are you using the etesync server on etesync.com? Or self-hosting? If the latter, please make sure `ETESYNC_URL` is correctly set when running.

Also, please take a look at https://github.com/etesync/etesync-dav/blob/master/macos-instructions.md
You should be using "advanced" (according to those instructions).

Actually, I think I know what it may be. Because we no longer use the configuration file it's not picking up the ssl configuration.
Try running etesync-dav like this:
`etesync-dav --ssl --certificate ~/Library/Application Support/etesync-dav/etesync.crt --key ~/Library/Application Support/etesync-dav/etesync.key`

Assuming you used the same paths from the guide. Do things now work?

I think I fixed everything with 0.9.1, please try that.

> Are you using the etesync server on etesync.com?

Yes

> Also, please take a look at https://github.com/etesync/etesync-dav/blob/master/macos-instructions.md
> You should be using "advanced" (according to those instructions).

For CardDav it says "Account Type: Manual"

<img width="687" alt="image" src="https://user-images.githubusercontent.com/1435395/61977024-f1cb6d80-aff5-11e9-81cd-b6aca53ab1fe.png">

> Actually, I think I know what it may be. Because we no longer use the configuration file it's not picking up the ssl configuration.

Passing the configuration file as an argument though made it work (without the need for `etesync-dav --ssl --certificate ~/Library/Application Support/etesync-dav/etesync.crt --key ~/Library/Application Support/etesync-dav/etesync.key`)

> I think I fixed everything with 0.9.1, please try that.

Just downloaded and installed 0.9.1

```
$ ./etesync-dav --version
Traceback (most recent call last):
  File "etesync-dav", line 12, in <module>
ImportError: cannot import name 'SSL_KEY_FILE' from 'etesync_dav.config' (/var/folders/s6/bpyt31h91h79xltdlc1v32600000gq/T/_MEIvELx4s/etesync_dav/config.pyc)
[67061] Failed to execute script etesync-dav
```

```
$ ./etesync-dav --ssl --certificate ~/Library/Application\ Support/etesync-dav/etesync.crt --key ~/Library/Application\ Support/etesync-dav/etesync.key
Traceback (most recent call last):
  File "etesync-dav", line 12, in <module>
ImportError: cannot import name 'SSL_KEY_FILE' from 'etesync_dav.config' (/var/folders/s6/bpyt31h91h79xltdlc1v32600000gq/T/_MEIOexPu1/etesync_dav/config.pyc)
[67117] Failed to execute script etesync-dav
```

So weird. It worked on my Mac. I'll take a look tomorrow.

--
Tom

On Fri, 26 Jul 2019, 20:39 Foivos, <notifications@github.com> wrote:

> Are you using the etesync server on etesync.com?
>
> Yes
>
> Also, please take a look at
> https://github.com/etesync/etesync-dav/blob/master/macos-instructions.md
> You should be using "advanced" (according to those instructions).
>
> For CardDav it says "Account Type: Manual"
>
> [image: image]
> <https://user-images.githubusercontent.com/1435395/61977024-f1cb6d80-aff5-11e9-81cd-b6aca53ab1fe.png>
>
> Actually, I think I know what it may be. Because we no longer use the
> configuration file it's not picking up the ssl configuration.
>
> Passing the configuration file as an argument though made it work (without
> the need for etesync-dav --ssl --certificate ~/Library/Application
> Support/etesync-dav/etesync.crt --key ~/Library/Application
> Support/etesync-dav/etesync.key)
>
> I think I fixed everything with 0.9.1, please try that.
>
> Just downloaded and installed 0.9.1
>
> $ ./etesync-dav --version
> Traceback (most recent call last):
>   File "etesync-dav", line 12, in <module>
> ImportError: cannot import name 'SSL_KEY_FILE' from 'etesync_dav.config' (/var/folders/s6/bpyt31h91h79xltdlc1v32600000gq/T/_MEIvELx4s/etesync_dav/config.pyc)
> [67061] Failed to execute script etesync-dav
>
> $ ./etesync-dav --ssl --certificate ~/Library/Application\ Support/etesync-dav/etesync.crt --key ~/Library/Application\ Support/etesync-dav/etesync.key
> Traceback (most recent call last):
>   File "etesync-dav", line 12, in <module>
> ImportError: cannot import name 'SSL_KEY_FILE' from 'etesync_dav.config' (/var/folders/s6/bpyt31h91h79xltdlc1v32600000gq/T/_MEIOexPu1/etesync_dav/config.pyc)
> [67117] Failed to execute script etesync-dav
>
> —
> You are receiving this because you were mentioned.
> Reply to this email directly, view it on GitHub
> <https://github.com/etesync/etesync-dav/issues/70?email_source=notifications&email_token=AAA2Q7SBI5ZSL7US4IZJHWLQBNHGLA5CNFSM4HP6LLVKYY3PNVWWK3TUL52HS4DFVREXG43VMVBW63LNMVXHJKTDN5WW2ZLOORPWSZGOD25Q3UI#issuecomment-515575249>,
> or mute the thread
> <https://github.com/notifications/unsubscribe-auth/AAA2Q7XQCOR3I4RIBVDQW63QBNHGLANCNFSM4HP6LLVA>
> .
>


A couple of comments:
1. About my comment above regarding the "manual" - please ignore that. I was wrong, as you said. :)
2. I fixed things in 0.9.1, you no longer need to pass --ssl --certificate and --key, just run normally.

As for the issue. It seems like the binary I uploaded was malformed. I now uploaded a new binary that fixes this issue. Sorry about the noise.

Regarding the original issue (contact sync): I think there may still be a problem. I need to figure out this regression but you are right, it doesn't seem to be syncing for me either (only contacts and only on the mac).

> Could maybe also be #66. I hope I can finally fix #66 in the next few days which will hopefully fix this whole array of issues. Extremely annoying, I know, and I'm sorry. It's just that Radicale doesn't support vcard 4.0 and I therefore need to implement it myself.

It looks like the problem is exactly the opposite. Contants.app only supports vcard 3.0 (allthough I was able to successfully import a vcard 4.0 manually).

Note that I tried creating a contact in the Contacts.app and it was successfully synced with my android device (in the debug logs it appears it was added as a vcard 3.0). The other way around though is not working!

Are you sure it doesn't support 4.0? Got a link to support that? I couldn't find anything online.
What you are describing still sounds like #66 to me. Radicale is reporting it's a 3.0 collection so Contacts.app is limiting you to only 3.0. I'm not sure, I really need to figure this one out.

> Are you sure it doesn't support 4.0? Got a link to support that?

I base my claim on the fact that when exporting a contact it is exported in v3.0 format.
There is also this old link https://alessandrorossini.org/the-sad-story-of-the-vcard-format-and-its-lack-of-interoperability/
and an *Apple "vCard4-as-vCard3"* mention in https://www.davx5.com/faq/cant-manage-groups-on-device/

> Radicale is reporting it's a 3.0 collection so Contacts.app is limiting you to only 3.0

I am not sure this is the case. Even if I export a contact manually (no etesync-dav involvement) I get a v3.0 vcard.

I don't know what vCard4-as-vCard3 actually means in practice, as I haven't been able to find information about it. Anyhow, v3 and v4 are fairly compatible, so I just need to figure out what's there that's breaking things. I wonder if there's a way to get debug output from Contacts.app.

> I wonder if there's a way to get debug output from Contacts.app.

Yes, that would be great.
A google search gave me this `defaults write com.apple.AddressBook ABShowDebugMenu -bool true`, which enables a Debug menu in the app, however I don't think something useful yet.

From Contacts.app preferences

![image](https://user-images.githubusercontent.com/1435395/62128087-516a9700-b2dc-11e9-87a0-8b773c17f9f7.png)


This picture makes me so sad. :(

I have downloaded the vcf file from the webui and imported it to Contacts. The contacts were added (but twice each :/) and contacts containing unicode (Greek) characters where broken.

If memory serves, vCard v3.0 needs you to set the charset while v4 assumes utf-8, which would explain what you're seeing. I think at this point the only solution is to make etesync-dav serve only version 3.0 vCards (convert the 4.0 ones), and accept both. This will also fix #66 in a sense.

Looks like your memory is correct 

v3 https://tools.ietf.org/html/rfc2425#section-5.5
> 5.3.  Required parameters
>
>   Required parameters: charset
>
>   The "charset" parameter is as defined in [RFC-2046] for other body
>   parts.  It is used to identify the default character set used within
>   the body part.

v4 https://tools.ietf.org/html/rfc6350
> 3.1.  Charset
>
>  The charset (see [RFC3536] for internationalization terminology) for
>   vCard is UTF-8 as defined in [RFC3629].  There is no way to override
>   this.  It is invalid to specify a value other than "UTF-8" in the
>   "charset" MIME parameter (see Section 10.1).

I figured. My last suggestion will fix this issue as well. It shouldn't be too hard to do I think, at least for the common cases.

🤞 

Just to confirm again what we already figured out before: Contacts.app just ignores version 4.0 vCards. I'm really considering at this point, to just move all of EteSync to vCard 3.0 as trying to use 4.0 has been nothing but pain, or at the very least, as said above, create a conversion layer in etesync-dav. I'll start with a very hacky attempt and let's see how it goes.

OK, I implemented a fairly horrible workaround that should hopefully fix issue. We just transform vCard 4.0 to 3.0 when serving them in etesync-dav. This change doesn't make me very happy, but it at least "fixes" this issue. In the future we can implement a better, more complete, transformation.
What's even more annoying is that it used to work, and it just seems to be a regression with either macOS or potentially our code. I really don't know, but it looks like the mac is at fault.

Fixed in v0.11.0

Thanks @tasn despite being "horrible" as you say, it works and that's good enough for now :)

@zakkak, well, it's in because it's "horrible" and "works". If it was horrible and broken I wouldn't have pushed it. ;)

J/K, thanks for the feedback, yeah, I think it'll do the trick for now. I still don't understand why it stopped working, but I guess they changed something in Mojave. Who knows.

It workes for my now, too. But unfortunately only for one of my two address books. It is the one which I created later.

The other one is not even shown.

Not even shown where? In Contacts.app or https://localhost:37358 when you click on your username?

Not shown in Contacts.app. In http://localhost:37359/ under my username it is shown.

Have you tried adding them again? Maybe there was an issue before. I tested here when I closed this issue, and it seemed to work, but I'm happy to test again early next week if you can confirm even adding again didn't fix it.

> it works and that's good enough for now :)

Welp, until you try to use groups/lists/labels. macOS ignores 4.0 ones, Android supports both 4.0 and 3.0 and the EteSync web client ignores 3.0 ones. What a mess. 

> In the future we can implement a better, more complete, transformation

It would be nice if the future was here sooner rather than later, but it seems like this project is unmaintained ...